/*Mi hoja de estilos*/
*{
    margin: 0px;
    padding: 0px;
}
h1{
    font: bold 20px verdana, sans-serif;
}
h2{
    font: bold 14px verdana, sans-serif;
}
header, section, footer, nav, article, aside, figure, figcaption{
    display: block;
}
body{
    text-align: center;
    background-color: #e0dfc4;
    opacity: 0.8;
    background-image: url("https://fup.edu.co/wp-content/uploads/casona.jpg");
    background-repeat: no-repeat;
}
#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}
#menu{
    background: #CCCCCC;
    padding: 5px 15px;
}
#menu li{
    display: inline-block;
    list-style: none;
    font: bold 14px verdana, sans-serif;
}
#seccion{
    float: left;
    width: 660px;
    margin: 20px;
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
article{
    background-color: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
}
.texto1{
    font-size: 20px;
}
.parr1{
    background-color: darkgray;
}
.parr2{
    background-color: rgb(190,170,180);
}
.parr3{
    background-color: #FFFBCC;
}
.parr4{
    background-color: hsl(300,70%,72%);
}
.parr5{
    border-style: dotted solid double dashed;
    border-width: 5px /*Valores predefinidos thin, medium, thick*/;
    margin: 100px 100px 150px 80px;
    padding: 50px 30px 50px 50px;
}
.artic{
    height: 200px;
    width: 60%;
    background-color: #467557;
}